{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/detalhe-produto.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    
    <div class="product-container">
        <img src="../../../media/{{ produto.imagem }}" alt="Imagem do produto">
        <div class="product-content">
            <h2>{{ produto.nome }}</h2>
            <span>{{ produto.marca.nome }}</span>
            <div>{{ produto.descricao }}</div>
            <h3>R$ {{ produto.preco }}</h2>
        </div>
    </div>

{% endblock %}
